@import url("style.css");

.hero-section {
  min-height: calc(100vh - 14vh);
}

.content,
.image-container {
  flex: 1;
  flex-basis: 300px;
}

h1 {
  font-size: 5.6vw;
  color: var(--lead);
}

h1 span {
  color: var(--gold-finger);
}

p {
  font-size: 1.25rem;
  color: grey;
  line-height: 1.8rem;
  font-weight: 400;
}

.para {
  margin-block: 2rem;
  max-width: 550px;
}

.social-icon {
  background: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
  transition: 0.2s ease;
}

.social-icon:hover {
  background: var(--lead);
  color: #fff;
}

/* SECTION 01 STYLE */

.service-card {
  flex: 1;
  flex-basis: 300px;
}

.service-card h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.service-card p {
  font-size: 1rem;
}

/* SECTION 02 STYLE */

.order-card {
  flex: 1;
  flex-basis: 300px;
  padding: 0 1rem 2rem 1rem;
  background: var(--pure-white);
  border: 0.1rem solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}
.order-card img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}

.order-card .prize {
  font-size: 1.7rem;
  color: var(--gold-finger);
  padding: 1.3rem 0 2rem 0;
}

/* SECTION 03 STYLE */

.review-container{
  width: 650px;
  max-width: 100%;
  flex: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: var(--gold-finger);
}

.arrow{
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--gold-finger);
  color: var(--lead);
  text-align: center;
  line-height: 2.5rem;
}

/* SECTION 4 STYLE */

.app-container{
  background: var(--hint-yellow);
  padding: 3rem 6rem;
  border-radius: 3rem;
}

.app-container .content h2{
  font-size: 4.5rem;
}

.app-container .image-container img{
  width: 25rem;
}

/* section 5 style */
.input-container{
  width: 43rem;
  max-width: 100%;
  background: var(--pure-white);
  padding: .8rem;
  box-shadow: 
  rgba(0, 0, 0, 0.1) 0 5px 8px;
  border-radius: 1rem;
}

input[type='email']{
  flex: 1;
  height: 7vh;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  padding-left: 1rem;
}

input[type='email']:focus{
  outline: none;
}