@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: white;
    background-color: rgb(17, 114, 218);
    border-radius: 3px;
}

nav ul{
    list-style: none;
    font-size: 2.5vw;
    font-family: "Roboto", sans-serif
}

.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 1px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(243, 219, 255);
}

.info{
    font-size: 5vw;
    font-weight: 250;
}


.gameInfo{
    padding: 0 34px;
    font-family: 'roboto', sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
    /* display: none; */
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background-color: rgb(255, 184, 255);
    border-radius: 6px;
    cursor: pointer;
    border: .5px;
    font-family: 'segoe ui';
    font-size: 2.5vw;
    font-weight: 500;
}

.line{
    background-color: rgb(165, 70, 215);
    height: 5px;
    width: 0vw;
    position: absolute;
    left: 0;
    border-radius: 16px;
    transition: width 1s ease-in-out;
}


@media screen and (max-width: 800px){
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }

    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}