* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui";
}

body {
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
}

.header {
  width: 100%;
  height: 10vh;
  /* background-color: grey; */
  display: inline-block;
}

.navbar {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.nav-link {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: black;
  margin-left: 3rem;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  background: url("/images/hero-img.jpg") no-repeat center/cover;

  width: 100%;
  height: 90vh;
  /* justify-content: center; */
  border-radius: 50px;
  margin: 5rem 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 40%;
  min-height: 400px;
  justify-content: center;
  margin-left: 8rem;
  margin-top: 5rem;
  gap: 2rem;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 400;
}

.hero-para {
  font-size: 1.3rem;
}

.hero-freepik {
  font-size: 1.2rem;
}

.hero-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  height: 80px;
  gap: 1rem;
  border-radius: 1.5rem;
  /* border: 1px solid black; */
}

#search-bar {
  width: 70%;
  height: 50%;
  border: 0px;
  padding-left: 2rem;
  border-radius: 25px;
}

#search-bar::placeholder {
  color: #777;
  font-size: 1rem;
}

.submit-button {
  width: 15%;
  height: 50%;
  border: 0px;
  background-color: black;
  color: white;
  border-radius: 25px;
}

/* perperty-slider-container */

.property-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 204, 255);
}

.slider-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
}

.img-container {
  width: 350px;
  height: 20rem;
  object-fit: cover;
  display: block;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .property-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .property-container {
    grid-template-columns: 1fr;
  }
}

.img-container .city-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.property-count {
  font-size: 1.2rem;
  font-weight: 400;
}

.slider-img {
  width: 250px;
  height: 250px;
  border-radius: 10rem;
}

/* rent container style  */

.rent-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 1px solid red; */
  justify-content: center;
  /* align-items: center; */
  margin: 2rem auto;
}

.rent-about-container{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 50%;
  gap: 2rem;
  margin-left: 7.8rem;
  margin-bottom: 2rem;
}

.rent-heading{
  font-size: 3rem;
}
.rent-para{
  font-size: 1.3rem;
}

.rent-para span{
  color: blue;
}

.view-more-btn{
  width: 25%;
  height: 2.5rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  border-radius: 8px;
  border: 0;
}

/* rent home container style  */

.rent-home-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid red; */
  gap: 2rem;
  margin: 0 auto;
  /* justify-content: center; */
  /* align-items: center; */
}

.rent-card-container{
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.card-1{
    background: url('images/card_1.jpeg') center/cover no-repeat;
}
.card-2{
    background: url('images/card_2.jpg') center/cover no-repeat;
}
.card-3{
    background: url('images/card_3.jpeg') center/cover no-repeat;
}
.card-4{
    background: url('images/card_4.jpeg') center/cover no-repeat;
}
.card-5{
    background: url('images/card_5.jpeg') center/cover no-repeat;
}
.card-6{
    background: url('images/card_6.jpeg') center/cover no-repeat;
}

.card{
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(1px);

  border-radius: 16px;
  padding: 16px;
  color: #222;
}

.card .amount{
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.card .about-card{
  margin: 6px 0 0;
  font-size: 1rem;
  color: #444;
}

/* selling-option-container style */

.selling-option-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.selling-option-upper-container{
  display: flex;
  width: 80%;
  /* border: 1px solid black; */
  margin: 0 auto;
  gap: 1.2rem;
  justify-content: center;
}

.selling-left{
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  gap: 2rem;
  /* border: 1px solid red; */
  padding: 2rem;
  background-color: #f0effd;
  border-radius: 16px;
}

.selling-left-heading{
  font-size: 3rem;
}
.selling-left-para{
  font-size: 1.5rem;
}

.selling-left-para span{
  color: blue;
}

.left-about{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.about-container{
  display: flex;
  gap: 1.5rem;
}

.img{
  background-color: #c3bff8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  /* height: 120px; */
}

.about-container img{
  width: 50px;
  height: 50px;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about h2{
  font-size: 1.3rem;
  font-weight: bold;
}

.about p{
  font-size: 1.5rem;
}

.selling-right{
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
}

.selling-right img{
  border-radius: 16px;
}

.selling-option-lower-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  background-color: #fbeced;
  height: 20rem;
}

.values{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  gap: 1.2rem;
}

.values h2{
  font-size: 3rem;
}

.values p{
  font-size: 1.3rem;
  font-weight: bold;
}

.explore-card{
  width: 250px;
}

.about-left-card{
  width: 250px;
}